# global options
{
	admin off # theres no need for the admin api in railway's environment
	persist_config off # storage isn't persistent anyway
	auto_https off # railway handles https for us, this would cause issues if left enabled
	# runtime logs
	log {
		format json # set runtime log format to json mode 
	}
	# server options
	servers {
		trusted_proxies static private_ranges # trust railway's proxy
	}
}

# site block, listens on the $PORT environment variable, automatically assigned by railway
:{$PORT} {
	# access logs
	log {
		format json # set access log format to json mode
	}

	# proxy all requests for /* to the frontend, configure this variable in the service settings
	reverse_proxy {$FRONTEND_HOST} {$FRONTEND_PUBLIC_HOST} {
		lb_policy first
		lb_try_duration 5s
		fail_duration 5s
		transport http {
			dial_timeout 5s
		}
		
	}

	# the handle_path directive will strip /api/ from the path before proxying
	# this is needed if your backend's api routes don't start with /api/
	# change paths as needed
	handle_path /api/* {
		rewrite * /api{uri}		
		# proxy all requests for /api/* to the backend, configure this variable in the service settings
		reverse_proxy {$BACKEND_HOST} {$BACKEND_PUBLIC_HOST} {
			lb_policy first
			lb_try_duration 15s
			fail_duration 15s
			transport http {
				dial_timeout 15s
			}

			health_path /health
    			health_interval 10s
			
		}
	}

	handle_path /file/* {
		rewrite * /file{uri}		
		# proxy all requests for /file/* to the backend, configure this variable in the service settings
		reverse_proxy {$BACKEND_HOST} {			
			transport http {
				dial_timeout 15s
			}						
		}
	}

	# the handle_path directive will strip /console/api/ from the path before proxying
	# this is needed if your backend's api routes don't start with /api/
	# change paths as needed
	handle_path /console/api/* {
		rewrite * /console/api{uri}		
		reverse_proxy {$BACKEND_HOST} {$BACKEND_PUBLIC_HOST} {
			lb_policy first
			lb_try_duration 15s
			fail_duration 15s
			transport http {
				dial_timeout 15s
			}

			health_path /health
    			health_interval 10s
		}
	}	
}
